<!-- footer.html -->
<footer class="position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-auto mt-4">
                <p class="mb-4"></p>
            </div>
            <div class="col-lg-3 mt-4 ml-auto">
                <p>UAE Dubai
                    <br> Street. 03
                    <br> 77 Building
                    <br> ------
                </p>
                <a href="mailto:hi@yourdomain.com"><span style="text-decoration: underline;">hi@sharebootstrap.com</span></a>
            </div>
            <div class="col-lg-3 mt-4 ml-auto">
                <ul class="list-unstyled footer-link">
                    <!-- Opening links in a new tab target="_blank" -->
                    <li><a href="https://www.instagram.com/Sumar_au" target="_blank">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="https://www.github.com/sumar-hsh" target="_blank">Github</a></li>
                </ul>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</footer>
